@model StaffModel

@{
    ViewData["Title"] = "My Details";
    Layout = "_Layout";
}

<!DOCTYPE html>
    
<html>
<head>
    <h2 class="text-center">Staff Details</h2>
</head>

<div class="icon-change-container">
    <i class="fas fa-key text-danger fa-2x" title="Change Password"></i>
    <a asp-controller="Password" asp-action="ChangePassword" class="icon-change-link text-danger">Change Your Password</a>
</div>

<body>
<div class="container h-100 text-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <label class="form-label">Staff Role</label>
                    <input class="form-control text-center" asp-for="StaffType" readonly/>
                </div>
                <div class="col-md-10">
                    <label class="form-label">Name</label>
                    <input class="form-control text-center" asp-for="Name" readonly/>
                </div>
                <div class="col-md-10">
                    <label class="form-label">Email</label>
                    <input class="form-control text-center" asp-for="Email" readonly/>
                </div>
                <div class="col-md-10">
                    <label class="form-label">Address</label>
                    <input class="form-control text-center" asp-for="Address" readonly/>
                </div>
                <div class="col-md-10">
                    <label class="form-label">Mobile</label>
                    <input class="form-control text-center" asp-for="Mobile" readonly/>
                </div>
                
                <div class="col-md-10">
                    <label class="form-label">Date of Birth</label>
                    <input type="text" class="form-control text-center" asp-for="DateOfBirth" readonly/>
                </div>
                <div class="col-md-10">
                    <label class="form-label">Login</label>
                    <input class="form-control text-center" asp-for="Login" readonly/>
                </div>
            </div>
        </div>
        
    </div>
</div>

<a class="btn btn-secondary" asp-controller="Home" asp-action="Index" >Back</a>

</body>
</html>