@using Microsoft.IdentityModel.Tokens
@model StaffModel
@{
    if(ViewData.IsNullOrEmpty())
    {
        
        Layout = "_LayoutLoggedOff";
        ViewData["Title"] = "Privacy Policy";
    }
    else
    {
        Layout = "_Layout";
        ViewData["Title"] = "Privacy Policy";
    }
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a type="button" class="btn btn-secondary" asp-controller="Login" asp-action="Index">Back</a>