@model dynamic

@{
    Layout = null;
}
<a class="btn btn-success" asp-controller="Patient" asp-action="CreatePatient">Add Patient</a>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>