@{
    ViewData["Title"] = "Restrict Page";
    Layout = "_LayoutLoggedOff";
}

<div class="text-center">
    <h2 class="text-center">You do not have permission to access this page, <a asp-action="Index" asp-controller="Home">click here to back to home page.</a></h2>
</div>