@{
    ViewData["Title"] = "Restrict Page";
    Layout = "_LayoutLoggedOff";
}

<div class="text-center">
    <h1 class="display-4">You do not have permission to access this page, <a asp-action="Index" asp-controller="Home">click here to back to home page.</a></h1>
</div>