@model ResetPasswordModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutLoggedOff";
}

<form asp-action="SendResetPasswordLink" asp-controller="Password" method="post">
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <label class="form-label">Login</label>
        <input type="text" class="form-control" asp-for="Login" placeholder="Type your login"/>
    </div>
    <div class="col-md-10">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Type your login"/>
    </div>
    <button type="submit" class="btn btn-primary text-center">Confirm</button>
    <a class="btn btn-secondary" asp-controller="Login" asp-action="Index">Back</a>
</div>
</form>